body {
 background-image: url(../img/kisspng-point-line-ball-circle-blue-technology-road-map-5a83bed38c4d33.1973719215185835075747.png);
    background-position: center center;   
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}