#eq1{
	position: absolute;
	top: 100px;,left: 100px;
}
#eq3{
	position: absolute;
	top: 200px;
}
#eq11{
	position: absolute;
	top: 300px;
}
#eq19{
	position: absolute;
	top: 400px;
}
#eq37{
	position: absolute;
	top: 500px;
}
#eq55{
	position: absolute;
	top: 600px;
}
#eq87{
	position: absolute;
	top: 700px;
}

#eq4{
	position: absolute;
	top: 200px;
	left: 110px;
}
#eq12{
	position: absolute;
	top: 300px;
	left: 110px;
}
#eq20{
	position: absolute;
	top: 400px;left: 110px;
}
#eq38{
	position: absolute;
	top: 500px;left: 110px;

}
#eq56{
	position: absolute;
	top: 600px;left: 110px;
}
#eq88{
	position: absolute;
	top: 700px;left: 110px;
}#eq21{
	position: absolute;
	top: 400px;left: 210px;
}
#eq39{
	position: absolute;
	top: 500px;left: 210px;

}
#eq57{
	position: absolute;
	top: 600px;left: 210px;
}
#eq89{
	position: absolute;
	top: 700px;left: 210px;
}
#eq22{
	position: absolute;
	top: 400px;left: 310px;
}
#eq40{
	position: absolute;
	top: 500px;left: 310px;

}
#eq72{
	position: absolute;
	top: 600px;left: 310px;
}
#eq104{
	position: absolute;
	top: 700px;left: 310px;
}
#eq23{
	position: absolute;
	top: 400px;left: 410px;
}
#eq41{
	position: absolute;
	top: 500px;left: 410px;

}
#eq73{
	position: absolute;
	top: 600px;left: 410px;
}
#eq105{
	position: absolute;
	top: 700px;left: 410px;
}#eq24{
	position: absolute;
	top: 400px;left: 510px;
}
#eq42{
	position: absolute;
	top: 500px;left: 510px;

}
#eq74{
	position: absolute;
	top: 600px;left: 510px;
}
#eq106{
	position: absolute;
	top: 700px;left: 510px;
}#eq25{
	position: absolute;
	top: 400px;left: 610px;
}
#eq43{
	position: absolute;
	top: 500px;left: 610px;

}
#eq75{
	position: absolute;
	top: 600px;left: 610px;
}
#eq107{
	position: absolute;
	top: 700px;left: 610px;

}#eq26{
	position: absolute;
	top: 400px;left: 710px;
}
#eq44{
	position: absolute;
	top: 500px;left: 710px;

}
#eq76{
	position: absolute;
	top: 600px;left: 710px;
}
#eq108{
	position: absolute;
	top: 700px;left: 710px;
}
#eq27{
	position: absolute;
	top: 400px;left: 810px;
	
}
#eq45{
	position: absolute;
	top: 500px;left: 810px;
}
#eq77{
	position: absolute;
	top: 600px;left: 810px;

}
#eq109{
	position: absolute;
	top: 700px;left: 810px;
}
#eq28
{
	position: absolute;
	top: 400px;left: 910px;
}
#eq46{
	position: absolute;
	top: 500px;left: 910px;
}
#eq78{
	position: absolute;
	top: 600px;left: 910px;
	
}
#eq110
{
	position: absolute;
	top: 700px;left: 910px;
}
#eq29{
	position: absolute;
	top: 400px;left: 1010px;

}
#eq47{
	position: absolute;
	top: 500px;left: 1010px;

}
#eq79{
	position: absolute;
	top: 600px;left: 1010px;
}
#eq111
{
	position: absolute;
	top: 700px;left: 1010px;
}
#eq30{
	position: absolute;
	top: 400px;left: 1110px;
}
#eq48{
	position: absolute;
	top: 500px;left: 1110px;
	
}
#eq80
{
	position: absolute;
	top: 600px;left: 1110px;
}
#eq112{
	position: absolute;
	top: 700px;left: 1110px;
}

#eq5{
	position: absolute;
	top: 200px;left: 1210px;
}
#eq13
{
	position: absolute;
	top: 300px;left: 1210px;
}
#eq31{
	position: absolute;
	top: 400px;left: 1210px;
}
#eq49{
	position: absolute;
	top: 500px;left: 1210px;
	
}
#eq81
{
	position: absolute;
	top: 600px;left: 1210px;
}
#eq113{
	position: absolute;
	top: 700px;left: 1210px;
}





#eq6{
	position: absolute;
	top: 200px;left: 1310px;
}
#eq14
{
	position: absolute;
	top: 300px;left: 1310px;
}
#eq32{
	position: absolute;
	top: 400px;left: 1310px;
}
#eq50{
	position: absolute;
	top: 500px;left: 1310px;
	
}
#eq82
{
	position: absolute;
	top: 600px;left: 1310px;
}
#eq114{
	position: absolute;
	top: 700px;left: 1310px;
}




#eq7{
	position: absolute;
	top: 200px;left: 1410px;
}
#eq15
{
	position: absolute;
	top: 300px;left: 1410px;
}
#eq33{
	position: absolute;
	top: 400px;left: 1410px;
}
#eq51{
	position: absolute;
	top: 500px;left: 1410px;
	
}
#eq83
{
	position: absolute;
	top: 600px;left: 1410px;
}
#eq115{
	position: absolute;
	top: 700px;left: 1410px;
}




#eq8{
	position: absolute;
	top: 200px;left: 1510px;
}
#eq16
{
	position: absolute;
	top: 300px;left: 1510px;
}
#eq34{
	position: absolute;
	top: 400px;left: 1510px;
}
#eq52{
	position: absolute;
	top: 500px;left: 1510px;
	
}
#eq84{
	position: absolute;
	top: 600px;left: 1510px;
}
#eq116{
	position: absolute;
	top: 700px;left: 1510px;
}




#eq9{
	position: absolute;
	top: 200px;left: 1610px;
}
#eq17
{
	position: absolute;
	top: 300px;left: 1610px;
}
#eq35{
	position: absolute;
	top: 400px;left: 1610px;
}
#eq53{
	position: absolute;
	top: 500px;left: 1610px;
	
}
#eq85{
	position: absolute;
	top: 600px;left: 1610px;
}
#eq117{
	position: absolute;
	top: 700px;left: 1610px;





}
#eq2{
	position: absolute;
	top: 100px;left: 1710px;
}




#eq10{
	position: absolute;
	top: 200px;left: 1710px;
}
#eq18
{
	position: absolute;
	top: 300px;left: 1710px;
}
#eq36{
	position: absolute;
	top: 400px;left: 1710px;
}
#eq54{
	position: absolute;
	top: 500px;left: 1710px;
	
}
#eq86{
	position: absolute;
	top: 600px;left: 1710px;
}
#eq118{
	position: absolute;
	top: 700px;left: 1710px;


}


#eq120{
	position: absolute;
	top: 900px;left: 310px;
}
#eq121{
	position: absolute;
	top: 900px;left: 410px;
}
#eq122{
	position: absolute;
	top: 900px;left: 510px;
}#eq123{
	position: absolute;
	top: 900px;left: 610px;
}#eq124{
	position: absolute;
	top: 900px;left: 710px;
}#eq125{
	position: absolute;
	top: 900px;left: 810px;
}#eq126{
	position: absolute;
	top: 900px;left: 910px;
}#eq127{
	position: absolute;
	top: 900px;left: 1010px;
}#eq128{
	position: absolute;
	top: 900px;left: 1110px;
}#eq129{
	position: absolute;
	top: 900px;left: 1210px;
}#eq130{
	position: absolute;
	top: 900px;left: 1310px;
}#eq131{
	position: absolute;
	top: 900px;left: 1410px;
}#eq132{
	position: absolute;
	top: 900px;left: 1510px;
}#eq133{
	position: absolute;
	top: 900px;left: 1610px;
}


#eq134{
	position: absolute;
	top: 1000px;left: 310px;
}
#eq135{
	position: absolute;
	top: 1000px;left: 410px;
}
#eq136{
	position: absolute;
	top: 1000px;left: 510px;
}#eq137{
	position: absolute;
	top: 1000px;left: 610px;
}#eq138{
	position: absolute;
	top: 1000px;left: 710px;
}#eq139{
	position: absolute;
	top: 1000px;left: 810px;
}#eq140{
	position: absolute;
	top: 1000px;left: 910px;
}#eq141{
	position: absolute;
	top: 1000px;left: 1010px;
}#eq142{
	position: absolute;
	top:1000px;left: 1110px;
}#eq143{
	position: absolute;
	top:1000px;left: 1210px;
}#eq144{
	position: absolute;
	top: 1000px;left: 1310px;
}#eq145{
	position: absolute;
	top: 1000px;left: 1410px;
}#eq146{
	position: absolute;
	top: 1000px;left: 1510px;
}#eq147{
	position: absolute;
	top: 1000px;left: 1610px;
}
#eq148{
	position: absolute;
	top: 1000px;left: 1710px;
}#eq149{
	position: absolute;
	top: 900px;left: 1710px;
}
#tabla
{
	position: absolute;
	top: 1200px; 
	left: 500px;

}